@import "../utils/variables";
@import "../utils/extends";

.header {
  padding: 1em 0;
  border-width: 0 0 4px 0;
  border-bottom-style: solid;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;

  .wrapper {
    @extend .width;
    display: flex;
    align-items: center;
  }

  nav {
    margin-left: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    float: left;
    margin-left: 1em;
  }

  a {
    color: $color;
  }
}
