.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.width {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;

  @media screen and (max-width: $breakpoint-small) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
