// Colours
$color: #32325d;
$color--darker: #151536;
$color-background: white;

$color-purple--light: #ede5ff;
$color-purple--dark: #29008a;

/* Widths */
$width: 50em;

/* Responsive */
$breakpoint-small: 720px;
